body {
  height: 150vh;
  font-family: "Red Hat Display", sans-serif;
  background-color: white;
}

.header {
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.header img {
  width: 118px;
  height: 28px;
}

.top {
  display: flex;
  justify-content: center;
  height: 488px;
  flex-wrap: wrap;
}

.top .titulo-descricao {
  width: 449px;
  height: 314px;
  margin-top: 87px;
}

.top img {
  width: 394px;
  height: 303px;
}

.top .imagem-left {
  margin-top: 64px;
  margin-right: 127.85px;
}

.top .imagem-right {
  margin-top: 121px;
  margin-left: 127.85px;
}

.top .titulo-descricao h1 {
  font-size: 4rem;
  font-weight: 900;
  color: hsl(240, 21%, 20%);
  text-align: center;
  line-height: 70px;
}

.top .titulo-descricao p {
  font-size: 1rem;
  color: hsl(240, 10%, 57%);
  margin: 32px;
  text-align: center;
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 17px;
}

.botoes .download {
  width: 193px;
  height: 56px;
  background-color: hsl(192, 37%, 48%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 29px;
  font-weight: bold;
  
}

.botoes .what {
  width: 161px;
  height: 56px;
  background-color: hsl(268, 34%, 53%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 29px;
  font-weight: bold;
}

.botoes span {
  color: hsl(192, 90%, 77%);
  margin-left: 5px;
}

.botoes .download:hover {
  background-color:#71C0D4;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.botoes .what:hover {
    background-color:#B18BDD;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }

.main {
  display: flex;
  width: 1440px;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.barra01 {
  width: 1px;
  height: 80px;
  background-color: hsl(240, 18%, 85%);
  display: flex;
  margin: auto;
  margin-top: 30px;
}

.numero01 {
  border: 1px solid hsl(240, 18%, 85%);
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 64px;
  color: hsl(240, 10%, 57%);
}

.imagens-main {
  width: 1120px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 64px;
}

.imagens-main img {
  width: 256px;
  height: 256px;
  border-radius: 8px;
}

.main h1 {
  font-size: 1rem;
  letter-spacing: 4px;
  color: hsl(192, 37%, 48%);
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 16px;
}

.main h2 {
  width: 445px;
  font-size: 2.5rem;
  color: hsl(240, 21%, 20%);
  font-weight: 900;
  margin: auto;
  line-height: 40px;
  margin-bottom: 32px;
}

.main .descricao {
  width: 544px;
  margin: auto;
  font-size: 1.12rem;
  color: hsl(240, 10%, 57%);
  margin-bottom: 72px;
}

.barra02 {
    width: 1px;
    height: 80px;
    background-color: hsl(240, 18%, 85%);
    display: flex;
    margin: auto;
    margin-top: -109px;
    z-index: 1;
  }
  
  .numero02 {
    border: 1px solid hsl(240, 18%, 85%);
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: hsl(240, 10%, 57%);
    background-color: white;
    z-index: 1;
      }

  .back-footer{
    display: flex;
    background-image: url(../images/desktop/image-footer.jpg);
    height: 312px;
    background-size: cover;
    background-position: center;
    position: relative;
    
  }

  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(192, 37%, 48%);
    opacity: 0.8;
    
}

.back-footer h3, .back-footer p, .top-footer{
    position: relative;
    
}

.top-footer{
    height: 108px;
}

.descricao-footer{
    display: flex;
    width: 1120px;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}

.descricao-footer h3{
    font-size: 2.5rem;
    color: white;
    font-weight: 800;
    width: 445px;
}

.descricao-footer p{
    font-size: 1.12rem;
    color: white;
    width: 355px;
    
}

.descricao-footer a{
    z-index: 1;
    background-color: hsl(268, 34%, 53%);
    width: 193px;
    height: 56px;
    border-radius: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 95px;
}

.descricao-footer span{
    margin-left: 3px;
    color: hsl(268, 100%, 86%);

}

.descricao-footer .download2:hover {
    background-color:#B18BDD;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }